<div class="flex justify-between">
  <div>
    <%= link_to "Previous Week", worklogs_path(start_date: @start_date.prev_week), class: "text-blue-500 hover:underline" %>
  </div>
  <div>
    <%= link_to "Next Week", worklogs_path(start_date: @start_date.next_week), class: "text-blue-500 hover:underline" %>
  </div>
</div>
<div class="overflow-x-auto mt-4">
  <table class="min-w-full divide-y divide-gray-200" data-controller="worklog-navigation">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Project</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Activity</th>
        <% (@start_date..@end_date).each do |date| %>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <%= date.strftime("%A") %><br><%= date.strftime("%m/%d/%y") %>
          </th>
        <% end %>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Total</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200" id="worklog-table">
      <% @grouped_worklogs.each do |(project, activity), worklogs| %>
        <tr data-controller="worklog-row" data-worklog-row-project-value="<%= project.id %>" data-worklog-row-activity-value="<%= activity.id %>">
          <td class="px-6 py-4 whitespace-nowrap"><%= project.name %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= activity.name %></td>
          <% (@start_date..@end_date).each do |date| %>
            <td class="px-6 py-4 whitespace-nowrap" data-controller="worklog-edit" data-worklog-edit-target="cell" data-date="<%= date %>" data-project="<%= project.id %>" data-activity="<%= activity.id %>" data-worklog-navigation-target="cell">
              <% worklog = worklogs&.find { |w| w.work_date == date } %>
              <span data-worklog-edit-target="display" data-worklog-row-target="cell" data-action="click->worklog-edit#edit"><%= worklog ? worklog.hours : 0 %></span>
              <input data-worklog-edit-target="input" class="hidden" type="number" min="0" max="24" value="<%= worklog ? worklog.hours : 0 %>" data-action="blur->worklog-edit#toggleCell keyup->worklog-edit#handleKeyUp">
            </td>
          <% end %>
          <td class="px-6 py-4 whitespace-nowrap"><strong data-worklog-row-target="total"><%=worklogs.sum(&:hours)%></strong></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<button data-modal-target="addNewRowModal" data-modal-toggle="addNewRowModal" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">Add new row</button>

<div id="addNewRowModal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative w-full max-w-md max-h-full">
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="addNewRowModal">
        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
        </svg>
        <span class="sr-only">Close modal</span>
      </button>
      <%= render partial: "worklogs/worklog_row_form", locals: { worklog: Worklog.new(work_date: @start_date) } %>
    </div>
  </div>
</div>
