<div class="flex justify-between">
  <div>
    <%= link_to "Previous Week", worklogs_path(start_date: @start_date.prev_week), class: "text-blue-500 hover:underline" %>
  </div>
  <div>
    <%= link_to "Next Week", worklogs_path(start_date: @start_date.next_week), class: "text-blue-500 hover:underline" %>
  </div>
</div>
<div class="overflow-x-auto mt-4">
  <table class="min-w-full divide-y divide-gray-200" data-controller="worklog-navigation">
    <thead class="bg-gray-50">
      <tr>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Project</th>
        <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Activity</th>
        <% (@start_date..@end_date).each do |date| %>
          <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            <%= date.strftime("%A") %><br><%= date.strftime("%m/%d/%y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      <% @grouped_worklogs.each do |(project, activity), worklogs| %>
        <tr>
          <td class="px-6 py-4 whitespace-nowrap"><%= project.name %></td>
          <td class="px-6 py-4 whitespace-nowrap"><%= activity.name %></td>
          <% (@start_date..@end_date).each do |date| %>
            <td class="px-6 py-4 whitespace-nowrap" data-controller="worklog-edit" data-worklog-edit-target="cell" data-date="<%= date %>" data-project="<%= project.id %>" data-activity="<%= activity.id %>" data-worklog-navigation-target="cell">
              <% worklog = worklogs&.find { |w| w.work_date == date } %>
              <span data-worklog-edit-target="display" data-action="click->worklog-edit#edit"><%= worklog ? worklog.hours : 0 %></span>
              <input data-worklog-edit-target="input" class="hidden" type="number" min="0" max="24" value="<%= worklog ? worklog.hours : 0 %>" data-action="blur->worklog-edit#toggleCell keyup->worklog-edit#handleKeyUp">
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
